<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('components/head') %>
</head>

<body>
    <%- include('components/header') %>
    <%- include('components/scripts') %>
    
    <footer>
        <%- include('components/footer') %>
    </footer>
</body>